.Label {
    background-color: deepskyblue;
    height: 135px;
    width: 250px;
    border: none;
    color: white;
    outline: none;
    box-shadow: 0 2px 1px darkblue;
    border-radius: 15px;
    cursor: pointer;
    font: inherit;
    font-size: 2.0rem;
    padding: 10px;
    margin: 10px;
}

.Label:hover{
    background-color: #046cff;
    border: solid 3px white;
    box-shadow: 1px 1px gray;

}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}