.StartGame {
    text-align: center;
    height: 50%;
    z-index: 500;
    background-color: white;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 25%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    margin-top: 15%;
    position: relative;
    border-radius: 10px;
}

.Instructions{
    width: 70%;
    margin: auto;
}
.Label {
    background-color: deepskyblue;
    height: 125px;
    width: 200px;
    border: none;
    color: white;
    outline: none;
    box-shadow: 0 2px 3px darkblue;
    border-radius: 15px;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: auto;

}

.LabelConfig {
    background-color: deepskyblue;
    height:60px;
    width: 50px;
    border: none;
    color: white;
    outline: none;
    box-shadow: 0 2px 3px darkblue;
    border-radius: 15px;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 15px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;

}

.Label:hover{
    background-color: #046cff;
    border: solid 3px white;
    box-shadow: 1px 1px gray;

}